
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<form th:action="@{/processForm}" th:object="${product}" method="post">
    <label>Id:</label><input th:field="*{id}" type="number" required/><br>
    <label>Title:</label><input th:field="*{title}" type="text" required/><br>
    <label>Cost:</label><input th:field="*{cost}" type="number" required/><br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>
